<h1>Listing signups</h1>

<table>
  <tr>
    <th>Project</th>
    <th>Email</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Address1</th>
    <th>Address2</th>
    <th>City</th>
    <th>State</th>
    <th>Status</th>
    <th>Zip</th>
    <% @signups.first.fields_keys.each do |field| %>
        <th><%= field.humanize %></th>
    <% end %>
    <th>Ip address</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @signups.each do |signup| %>
  <tr>
    <td><%= signup.project.name %></td>
    <td><%= signup.email %></td>
    <td><%= signup.first_name %></td>
    <td><%= signup.last_name %></td>
    <td><%= signup.address1 %></td>
    <td><%= signup.address2 %></td>
    <td><%= signup.city %></td>
    <td><%= signup.state %></td>
    <td><%= signup.status %></td>
    <td><%= signup.zip %></td>
    <td><%= signup.ip_address %></td>
    <% signup.fields_keys.each do |field| %>
      <td><%= signup.fields[field] %></td>
    <% end %>
    <td><%= link_to 'Show', signup %></td>
    <td><%= link_to 'Edit', edit_signup_path(signup) %></td>
    <td><%= link_to 'Destroy', signup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Signup', new_signup_path %>
